<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ising99.intelligentremotecontrol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".modules.Root.RootActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.DeviceDiscovery.DeviceDiscoveryActivity" />
        <activity
            android:name=".modules.Game.GameActivity"
            android:screenOrientation="landscape" />

        <service android:name="org.fourthline.cling.android.AndroidUpnpServiceImpl" />

        <activity android:name=".modules.MediaShare.MediaShareActivity" />
        <activity android:name=".modules.MediaSharePhotoGroupList.MediaSharePhotoGroupListActivity" />
        <activity android:name=".modules.MediaSharePhotoList.MediaSharePhotoListActivity" />
        <activity android:name=".modules.MediaShareMusicGroupList.MediaShareMusicGroupListActivity" />
        <activity android:name=".modules.MediaShareMusicList.MediaShareMusicListActivity" />
        <activity android:name=".modules.MediaShareVideoGroupList.MediaShareVideoGroupListActivity" />
        <activity android:name=".modules.MediaShareVideoList.MediaShareVideoListActivity" />
        <activity android:name=".modules.MediaShareVideoPlayer.MediaShareVideoPlayerActivity"></activity>
    </application>

</manifest>